kind: Service
apiVersion: v1
metadata:
    name: webapp
    lables:
        app: webapp
		
spec:
   ports:
    - port: 8080
      targetPort: 80
      nodePort: 31200
   selector:
      app: webapp
   type: LoadBalancer	  

